@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("../IMG/Arena.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokemonHub1{
    position: absolute;
    right: 40%;
    top: 12%;
}

.pokemonImage1{
    position: absolute;
    left: 0;
    bottom: 50%;
    left: 69%;
    height: ;
}

.pokemonFront{

}

.inputSearch1{
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;;
}

.buttons{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.button{
    width: 40%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}


