@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Oxanium', cursive;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("../IMG/Arena.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokemonHub1, .pokemonHub2{
    width: 11em;
    position: absolute;
}

.pokemonHub1{
    right:50%;
    top: 1%;
    transform: translate(0%,40%);
}

.pokemonHub2{
    right:5%;
    bottom: 30%;
    transform: translate(0%,40%);
}

.pokemonImage1,.pokemonImage2 {
    position: absolute;
    
}

.pokemonImage1{
    left: 73%;
    bottom: 45%;
    width: 7em;
    height: auto;
    transform: translate(-50%, 0); 
}

.pokemonImage2{
    left: 40%;
    bottom: 20%;
    width: 10em;
    height: auto;
    transform: translate(-50%, 0); 
}

.pokemonData1,.pokemonData2{
    font-size: 1.5em;
    text-transform: capitalize;
    color: #d63838;
    text-shadow: -3px 1px 0 #888, -5px 3px 0 #333;
}

.inputSearch1,.inputSearch2{
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;;
}

.buttons{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.button{
    width: 40%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

/* Dispositivos muito pequenos (celulares antigos) */
/* @media (max-width: 320px) { 
        .pokemonHub1{
        right:60%;
        top: 10%;
        width: 11em;
    }

    .pokemonImage1{
        left: 0;
        bottom: 50%;
        left: 73%;
        width: 8%;
        height: auto;
    }

    .pokemonData1{
        font-size: 1.5em;
    }
} */

/* Celulares padrão (iPhone, Android etc.) */
/* @media (min-width: 480px) { 
        .pokemonHub1{
        right:40%;
        top: 10%;
        width: 11em;
    }

    .pokemonImage1{
        left: 0;
        bottom: 50%;
        left: 73%;
        height: auto;
        width: 30%;
        transform: translate(-40%,30%);

    }

    .pokemonData1{
        font-size: 1.5em;
    }
} */

/* Celulares grandes / tablets pequenos em pé */
/* @media (min-width: 768px) { 
    .pokemonHub1{
        right:45%;
        top: 10%;
        width: 13em;
    }

    .pokemonImage1{
        left: 0;
        bottom: 50%;
        left: 65%;
        width: 25%;
        height: auto;
        transform: translate(-20%,30%);
    }

    .pokemonData1{
        font-size: 1.5em;
    }
} */

/* Tablets grandes / notebooks pequenos */
/* @media (min-width: 1024px) { 
    .pokemonHub1{
        right:45%;
        top: 10%;
        width: 10em;
    }

    .pokemonImage1{
        left: 0;
        bottom: 50%;
        left: 65%;
        width: 20%;
        height: auto;
        transform: translate(-10%,10%);
    }

    .pokemonData1{
        font-size: 1.5em;
    }
} */

/* Laptops / desktops comuns */
/* @media (min-width: 1280px) { 
    .pokemonHub1{
        right:45%;
        top: 10%;
        width: 13em;
    }

    .pokemonImage1{
        left: 0;
        bottom: 50%;
        left: 65%;
        width: 20%;
        height: auto;
        transform: translate(-20%,20%);
    }

    .pokemonData1{
        font-size: 1.5em;
    }
} */

/* Monitores grandes (full HD) */
/* @media (min-width: 1440px) { 

} */

/* Telas muito grandes (2K, 4K) */
/* @media (min-width: 1920px) {

 } */